.vscode
.idea/
.DS_Store
*.swp

*.key
*.pem
*.crt
*.csv
.env
.env.*
!.env.example
.aws/
kubeconfig
kubeconfig.*
*.kubeconfig
**/secrets.yaml

.terraform/
.states/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.json
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

__pycache__/
.pytest_cache/
.venv/
*.pyc
.coverage
htmlcov/
*.egg-info/

charts/*.tgz
.helmfile/
helmfile.lock

*.log